 .subscription .container{
    max-width: 1920px;
    width: 100%;
    padding-left: 4.16%;
    padding-right: 4.16%;
}
.subscription .section-1{
    background-color: rgba(7, 43, 242, 1);
     position: relative;
  overflow: hidden; 
  padding-top: 40px;
  padding-bottom: 40px;
   flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

 .subscription .slogan-box {
  font-family: 'Poppins', sans-serif;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 3;
  position: relative;

}

 .subscription .section-1 h2{
font-size: clamp(1.125rem, -0.5417rem + 3.4722vw, 3.625rem);
}

 .subscription .section-1 p{
font-size: clamp(0.625rem, 0.2083rem + 0.8681vw, 1.25rem);
color: rgba(255, 255, 255, 1);
}

.subscription .circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

 .subscription .circle-1 {
  width: 487px;
  height: 487px;
  top: -264px;
  left: 210px;
  border: 52px solid rgba(255, 255, 255, 0.1);
}

 .subscription .circle-2 {
  width: 346px;
  height: 346px;
  top: 267px;
  left: -173px;
  background: rgba(255, 255, 255, 0.1);
}

 .subscription .circle-3 {
  width: 487px;
  height: 487px;
  top: 115px;
  left: 1245px;
  border: 52px solid rgba(255, 255, 255, 0.1);
}


 .subscription .section-2{
   padding-left: 15%;
    padding-right: 15%;
       flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

 .subscription .section-2 .card{
padding: 40px;
}

 .subscription .section-2 h5{
margin-bottom: 15px;
}


 .subscription .section-2 h5{
font-size: clamp(1rem, 0.3333rem + 1.3889vw, 2rem);
color: rgba(0, 0, 0, 1);
}


 .subscription .section-2 .first{
font-size: clamp(0.5rem, 0rem + 1.0417vw, 1.25rem);
color:rgba(134, 146, 166, 1) ;
}

.subscription .section-2 .line {
  height: 1px;
  background:rgba(232,232,232);
  width: 100%;
  margin: 20px 0;
}

.subscription .section-2 .row {
font-size: clamp(0.625rem, -0.2083rem + 1.7361vw, 1.875rem);
color: rgba(0, 0, 0, 1);
}

.subscription .section-2 .li {
font-size: clamp(0.625rem, 0.2917rem + 0.6944vw, 1.125rem);
color: rgba(112, 112, 112, 1);
margin-bottom: 35px;
}

.subscription .section-2 .last {
font-size: clamp(0.625rem, 0.2917rem + 0.6944vw, 1.125rem);
color: rgba(112, 112, 112, 1);
}

.subscription .section-2 .logo-1 {
margin-right: 15px;
margin-left: 50px;
}

.subscription .section-2 .cancel {
  color: rgba(7, 43, 242, 1);
  font-size: clamp(0.625rem, 0.2917rem + 0.6944vw, 1.125rem);
  border: 1px solid rgba(7, 43, 242, 1);
  background-color: transparent;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.subscription .section-2 .invoice {
  color:rgba(7, 43, 242, 1) ;
  font-size: clamp(0.625rem, 0.2917rem + 0.6944vw, 1.125rem);
}

.subscription .section-2 .upgrade {
  background-color: rgba(7, 43, 242, 1);
    font-size: clamp(0.625rem, 0.2917rem + 0.6944vw, 1.125rem);
  color: white;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
}


@media (max-width:1920px){  


  .subscription .section-1{
  padding-top: 40px;
  padding-bottom: 40px;

}
 .subscription .slogan-box {
  padding: 35px;
  padding-left: 80px;
  padding-right: 80px;

}

 .subscription .circle-1 {
  width: 400px;
  height: 400px;
  top: -200px;
  left: 210px;
  border: 52px solid rgba(255, 255, 255, 0.1);
}

 .subscription .circle-2 {
width: 300px;
  height: 300px;
  top: 250px;
  left: -150px;
  background: rgba(255, 255, 255, 0.1);
}

 .subscription .circle-3 {
 width: 400px;
  height: 400px;
  top: 100px;
  left: 1000px;
  border: 52px solid rgba(255, 255, 255, 0.1);
}

 .subscription .section-2 .card{
padding: 35px;
}

 .subscription .section-2 h5{
margin-bottom: 12px;
}

.subscription .section-2 .line {
  margin: 18px 0;
}

.subscription .section-2 .li {
margin-bottom: 30px;
}


.subscription .section-2 .logo-1 {
margin-right: 15px;
margin-left: 40px;
width: 22px;
}

.subscription .section-2 .cancel {
  height: 45px;
  padding-left: 28px;
  padding-right: 28px;
}


.subscription .section-2 .upgrade {
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.subscription .section-2 .invoice-logo {
 width: 22px;
}

}

@media (max-width:1600px){  


  .subscription .section-1{
  padding-top: 35px;
  padding-bottom: 35px;

}
 .subscription .slogan-box {
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;

}

 .subscription .circle-1 {
   width: 360px;
  height: 360px;
  top: -180px;
  left: 210px;
  border: 46px solid rgba(255, 255, 255, 0.1);
}

 .subscription .circle-2 {
  width: 250px;
  height: 250px;
  top: 210px;
  left: -130px;
  background: rgba(255, 255, 255, 0.1);
}

 .subscription .circle-3 {
  width: 350px;
  height: 350px;
  top: 100px;
  left: 890px;
  border: 46px solid rgba(255, 255, 255, 0.1);
}

 .subscription .section-2 .card{
padding: 30px;
}

 .subscription .section-2 h5{
margin-bottom: 10px;
}

.subscription .section-2 .line {
  margin: 16px 0;
}

.subscription .section-2 .li {
margin-bottom: 26px;
}


.subscription .section-2 .logo-1 {
margin-right: 15px;
margin-left: 35px;
width: 20px;
}

.subscription .section-2 .cancel {
  height: 42px;
  padding-left: 26px;
  padding-right: 26px;
}


.subscription .section-2 .upgrade {
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
}

.subscription .section-2 .invoice-logo {
 width: 18px;
}

}

@media (max-width:1400px){  


  .subscription .section-1{
  padding-top: 30px;
  padding-bottom: 30px;

}
 .subscription .slogan-box {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;

}

 .subscription .circle-1 {
  width: 300px;
  height: 300px;
  top: -160px;
  left: 210px;
  border: 42px solid rgba(255, 255, 255, 0.1);
}

 .subscription .circle-2 {
  width: 200px;
  height: 200px;
  top: 180px;
  left: -100px;
  background: rgba(255, 255, 255, 0.1);
}

 .subscription .circle-3 {
  width: 300px;
  height: 300px;
  top: 100px;
  left: 750px;
  border: 46px solid rgba(255, 255, 255, 0.1);
}

 .subscription .section-2 .card{
padding: 25px;
}

 .subscription .section-2 h5{
margin-bottom: 8px;
}

.subscription .section-2 .line {
  margin: 14px 0;
}

.subscription .section-2 .li {
margin-bottom: 22px;
}


.subscription .section-2 .logo-1 {
margin-right: 12px;
margin-left: 30px;
width: 18px;
}

.subscription .section-2 .cancel {
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
}


.subscription .section-2 .upgrade {
  height: 38px;
  padding-left: 16px;
  padding-right: 16px;
}

.subscription .section-2 .invoice-logo {
 width: 16px;
}

}

@media (max-width:1200px){  


  .subscription .section-1{
  padding-top: 25px;
  padding-bottom: 25px;

}
 .subscription .slogan-box {
  padding:14px;
  padding-left: 30px;
  padding-right: 30px;

}

 .subscription .circle-1 {
  width: 250px;
  height: 250px;
  top: -140px;
  left: 150px;
  border: 38px solid rgba(255, 255, 255, 0.1);
}

 .subscription .circle-2 {
  width: 150px;
  height: 150px;
  top: 160px;
  left: -80px;
  background: rgba(255, 255, 255, 0.1);
}

 .subscription .circle-3 {
  width: 250px;
  height: 250px;
  top: 100px;
  left: 600px;
  border: 38px solid rgba(255, 255, 255, 0.1);
}

 .subscription .section-2 .card{
padding: 20px;
}

 .subscription .section-2 h5{
margin-bottom: 6px;
}

.subscription .section-2 .line {
  margin: 12px 0;
}

.subscription .section-2 .li {
margin-bottom: 18px;
}


.subscription .section-2 .logo-1 {
margin-right: 10px;
margin-left: 25px;
width: 16px;
}

.subscription .section-2 .cancel {
  height: 34px;
  padding-left: 18px;
  padding-right: 18px;
}


.subscription .section-2 .upgrade {
  height: 34px;
  padding-left: 14px;
  padding-right: 14px;
}

.subscription .section-2 .invoice-logo {
 width: 14px;
}

}

@media (max-width:992px){  


  .subscription .section-1{
  padding-top: 25px;
  padding-bottom: 25px;

}
 .subscription .slogan-box {
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;

}

 .subscription .circle-1 {
  width: 200px;
  height: 200px;
  top: -110px;
  left: 110px;
  border: 34px solid rgba(255, 255, 255, 0.1);
}

 .subscription .circle-2 {
  width: 110px;
  height: 110px;
  top: 140px;
  left: -50px;
  background: rgba(255, 255, 255, 0.1);
}

 .subscription .circle-3 {
  width: 200px;
  height: 200px;
  top: 80px;
  left: 480px;
  border: 34px solid rgba(255, 255, 255, 0.1);
}

 .subscription .section-2 .card{
padding: 15px;
}

 .subscription .section-2 h5{
margin-bottom: 6px;
}

.subscription .section-2 .line {
  margin: 10px 0;
}

.subscription .section-2 .li {
margin-bottom: 14px;
}


.subscription .section-2 .logo-1 {
margin-right: 8px;
margin-left: 15px;
width: 14px;
}

.subscription .section-2 .cancel {
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
}


.subscription .section-2 .upgrade {
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
}

.subscription .section-2 .invoice-logo {
 width: 12px;
}

}